{% extends 'base.html' %}

{% block content %}
{% if category %}
    <div class="page-header"> 
        <h1 class="pull-left">category:{{ category }} </h1>
        <h2 class="pull-right"> <a href="/t/{{ category.slug }}/new"> <i style="color:green" class="fa fa-plus-circle"></i></a></h2>
    </div>

    {% if projects %}
        <table class="table">
            <thead><tr><th></th><th>Project</th><th>Last activity</th><th>Total time</th></tr></thead>
            <tbody>
                {% for project in projects %}
                    <tr>
                        <th><a href="/t/{{ project.category.slug }}/{{ project.pk }}/delete"><i style="color:grey" class="fa fa-trash-o"></i></a></th>
                        <th><a href="/t/{{ project.category.slug }}/{{ project.slug }}">{{ project.name }}</a></th>
                        <th>{{ project.delta_to_last_edit }}h ago</th>
                        <th>{{ project.total_time }}h </th>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    {% endif %}

{% else %}
    <p>No projects are available in this category.</p>
{% endif %}
{% endblock %}
