{% extends 'base.html' %}
{% load static %}

{% block content %}
<p>
  <div class="row">
    {% for category in all_categories %}
      <div class="col-sm-4">
        <a href="/t/{{ category.slug }}/">
            <button role="button" class="btn btn-block btn-lg btn-secondary">
                <div class="cat-icon"><i class="fa fa-{{ category.icon }} fa-4x" aria-hidden="true"></i></div><p>
               <div class="cat-name">{{ category }}</div>
                 </div>
        </a>
    {% endfor %}
    {% if category_still_addable %}
      <div class="col-sm-4">
        <a href="/t/new">
            <button role="button" class="btn btn-block btn-lg btn-secondary">
               <div class="cat-icon"><i class="fa fa-plus-circle fa-4x" aria-hidden="true"></i></div><p>
               <div class="cat-name">Add Category</div>
            </div>
        </a>
    {% endif %}
  </div>
</p>
{% endblock %}
