{% extends 'base.html' %}
{% load static %}

{% block content %}
<p>
  <div class="row">
    {% for category in all_categories %}
      <div class="col-sm-4">
        <a href="/t/{{ category.slug }}/">
            <button role="button" class="btn btn-block btn-lg btn-secondary">
               <img src="{% get_static_prefix %}timetracking/{{ category }}.png"><p>
               <span class="cat-name">{{ category }}</span>
                 </div>
        </a>
    {% endfor %}
    {% if category_still_addable %}
      <div class="col-sm-4">
        <a href="/t/new">
            <button role="button" class="btn btn-block btn-lg btn-secondary">
               <span class="cat-name">Add Category</span>
            </div>
        </a>
    {% endif %}
  </div>
</p>
{% endblock %}
