{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if all_categories %}
<p>
  <div class="row">
    {% for category in all_categories %}
      <div class="col-sm-4">
        <a href="/t/{{ category }}/">
            <button role="button" class="btn btn-block btn-lg btn-secondary">
               <img src="{% get_static_prefix %}timetracking/{{ category }}.png"><p>
               <span class="cat-name">{{ category }}</span>
            </div>
        </a>
    {% endfor %}
  </div>
{% else %}
    <p>No categories are available at this moment.</p>
{% endif %}
{% endblock %}
