{% extends 'base.html' %}

{% block content %}
{% if project %}
    <div class="page-header"> 
        <h1 class="pull-left">project:{{ project.category }}/{{ project }} </h1>
        <h2 class="pull-right"> <a href="/t/{{ project.category.slug }}/{{ project.slug }}/new"> <i style="color:green" class="fa fa-plus-circle"></i></a></h2>
    </div>

    <div class="col-md-12">
        <p> Last edited: {{ project.delta_to_last_edit }} hours ago </p>
        <p> Total time: {{project.total_time }} </p>
    </div>

    {% if entries %}
    <div class="col-md-12">
        <table class="table">
            <thead><tr><th></th><th>Start</th><th>End</th><th>Duration</th></tr></thead>
            <tbody>
                {% for entry in entries %}
                    <tr>
                        <th><a href="/t/{{ project.category.slug }}/{{ project.slug }}/{{ entry.pk }}/delete"><i style="color:grey" class="fa fa-trash-o"></i></a></th>
                        <th>{{ entry.start_time }}</th>
                        <th>{{ entry.end_time }}</th>
                        <th>{{ entry.duration }}h </th>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
    {% endif %}

{% else %}
    <p>Project not found.</p>
{% endif %}
{% endblock %}
